{% if myData == userData %}
	{% set path = 'path_photo' %}
{% else %}
	{% set path = 'path_user_photo' %}
{% endif %}

<div class="container mainContainer">

	<h2>Album {{ album.title }}</h2>
	
	{% import 'Modals/modal1.html.twig' as modal1 %}
	{% import 'Modals/decisionModal.html.twig' as decision %}
	{% form_theme addPhotoForm 'bootstrap_3_layout.html.twig' %}
	
	
	{{ modal1.modal('Edytuj album',albumForm) }}
	{{ decision.modal('Usunąć album?','Czy chcesz usunąć album razem ze zdjęciami?','deleteAlbum', deleteAlbumForm) }}
	
	{% if myData == userData %}
	
		<div class="pull-right">
			<a class="btn btn-lg btn-primary " onclick="showModal('deleteAlbum')">Usuń album <span><i class="fa fa-trash"></i></span></a>
			<a class="btn btn-lg btn-primary " onclick="showModal('modal1')">Ustawienia <span><i class="fa fa-cog"></i></span></a>
		</div>
	
		<a class="btn btn-lg btn-primary text-center" id="addPhoto" onclick="uploadPhoto()">Dodaj zdjęcie <span><i class="fa fa-camera"></i></span></a>
	
		<div class="photoUpload text-center">
			{{ form(addPhotoForm) }}
		</div>
	{% endif %}
	
	{% if photos | length == 0 %}
		<div class="galeryContainer text-center">
			{% if myData == userData %}
				<h3>Nie masz zdjęć w tym albumie</h3>
				{% else %}
				<h3>Użytkownik nie ma zdjęć w tym albumie</h3>
			{% endif %}
		</div>
	{% endif %}
	
	{% if photos | length > 0 %}
		<div class="galeryContainer">
			
			{% set all_elements = 8 %}
			{% set all_pages = (( photos | length ) / all_elements) | round(0,'ceil') %}
			{% set begin = ( page * all_elements ) - all_elements %}
			{% set end = begin + all_elements %}
				
			{% set i = 0 %}
			
			{% for photo in photos %}
			
				{% if i >= begin and i < end %}
				
					{% if myData == userData %}
						{% set param = {'albumId':album.id,'photoId':photo.id} %}
					{% else %}
						{% set param = {'id':userData.id,'albumId':album.id,'photoId':photo.id} %}
					{% endif %}
					
					{% if i % 4 == 0 %}
						<div class="row">
					{% endif %}
					
					<div class="col-md-3 groupCol">
						<a href="{{ path(path,param) }}"><img class="image" src="{{ asset('image/' ~ photo.name) }}"></a>
					</div>
				
					{% if i % 4 == 3 or i + 1 == photos | length %}
						</div>
					{% endif %}
				{% endif %}
				
				{% set i = i + 1 %}
			{% endfor %}
		</div>
		
		{% if all_pages > 1 %}
			<div class="paginationDiv text-center">
				{% include "paginationButtons.html.twig" %}
			</div>
		{% endif %}
	{% endif %}
</div>