{% if userData.sex == "f" %}
	{% set sexClass = "fa fa-venus" %}
{% else %}
	{% set sexClass = "fa fa-mars" %}
{% endif %}

<div class="jumbotron" id="jumbotronProfile">
	<div class="container">
		<div class="row" id="firstSection">
			<div class="col-sm-4">
				<div id="imageDiv">
					{% if userData.profileImg is null  %}
						<img class="img-circle" id="jumboImg" src="{{ asset('serviceImage/blank-profile.png') }}">
					{% else %}
						<img  class="img-circle" id="jumboImg" src="{{ asset('image/' ~ userData.profileImg) }}">
					{% endif %}
			
					<div class="personal">
						<div class="name">{{ userName }} <span><i class="{{ sexClass }}"></i></span></div>
						<div class="city">{{ userCity }}, {{ userData.age }}</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="pull-right" id="infoDiv">
					<div class="text-center info">
						<h4>Znajomych</h4></br>
						<h3>4</h3>
					</div>
					<div class="text-center info">
						<h4>Zdjęcia</h4></br>
						<h3>{{ photoCount }}</h3>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row" id="secondSection">
			
			{% if myData == userData %}
				<div class="col-sm-6"><a class="btn btn-primary">Wiadomości  <span>1</span></a></div>
				<div class="col-sm-6"><a class="btn btn-primary pull-right">Moje konto  <span><i class="fa fa-user"></i></span></a></div>
			{% else %}
				<div class="col-sm-6"><a class="btn btn-primary">Wiadomość <span><i class="fa fa-user"></i></span></a></div>
				<div class="col-sm-6"><a class="btn btn-primary">Dodaj do znajomych</a></div>
			{% endif %}
		</div>
	</div>
</div>
