{% extends "base.html.twig" %}

{% if app.request.get('_route') == "path_login" %}
	{% set title = "Logowanie" %}
	{% set container = "login_container" %}
	{% set h1 = "Zaloguj się" %}
{% elseif app.request.get('_route') == "path_register" %}
	{% set title = "Rejestracja" %}
	{% set container = "register_container" %}
	{% set h1 = "Zarejestruj się" %}
{% endif %}

{% block title %}
	{{ title }} | {{ parent() }}
{% endblock %}

{% block pageContent %}

	<div class="container {{ container }}">
		<h1 class="loginH1Margin">{{ h1 }}</h1>
	
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}	

		{{ form(form,{'attr': {'novalidate':'true'}})}}
		
		<a href="{{ path('path_change_password') }}">Zapomnialeś hasła?</a>
	</div>
{% endblock %}

