<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Socialweb{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
			<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('icon.ico') }}" />
    </head>
    
	<body>
	
		{% 
			set mainMenu = [
				{'path':'path_home','name':'Home','logged':1},
				{'path':'path_login','name':'Zaloguj się','logged':0},
				{'path':'path_register','name':'Rejestracja','logged':0},
			] 
		%}
		
		{% set user = app.request.cookies.get('user') %}
	
		<div class="navbar navbar-inverse">
			<a class="navbar-brand">Socialweb</a>
			<div class="container">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% for menu in mainMenu %}
							{% if (user == "" and menu['logged'] == 0) or (not user == "" and menu['logged'] == 1) %}
								<li {{ app.request.get('_route') == menu['path'] ? 'class="active"': ''}}>
									<a href="{{path(menu['path'])}}">{{ menu.name }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
					
					{% if not user == "" %}
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="{{ path('path_sign_out') }}">{{ user_data.name }} {{ user_data.surname }}
									<span><i class="fa fa-sign-out"></i></span>
								</a>
							</li>
						</ul>
					{% endif %}
				</div>
			
			</div>
		</div>
	
		<div class="container alerts">
			{% for type,messages in app.session.flashbag.all() %}
				{% for msg in messages %}
					<div class="alert alert-{{type}}">
						{{msg}}
					
					</div>
				{% endfor %}
			
			{% endfor %}
		</div>
		
        {% block pageContent %}{% endblock %}
        
    </body>
</html>
